.done-recipes-filter-abled {
  background-color: rgb(43, 98, 174);
  border: none;
  border-image-slice: 1;
  border-image-source: var(--color-rainbow-bottom);
  border-top: 2px solid;
  bottom: 50px;
  color: white;
  font-family: var(--roboto-condensed);
  font-size: 20px;
  height: 50px;
  transition: background-color 0.7s;
  width: 240px;
}

.done-recipes-filter-disabled {
  background-color: rgb(123, 147, 181);
  border: none;
  border-image-slice: 1;
  border-image-source: var(--color-rainbow-bottom);
  border-top: 2px solid;
  bottom: 50px;
  color: white;
  font-family: var(--roboto-condensed);
  font-size: 20px;
  height: 50px;
  transition: background-color 0.7s;
  width: 240px;
}

.filters-done-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  margin: 20px 0;
}

.profile button {
  background-color: rgb(123, 147, 181);
  border: none;
  border-image-slice: 1;
  border-image-source: var(--color-rainbow-bottom);
  border-top: 2px solid;
  bottom: 50px;
  color: white;
  font-family: var(--roboto-condensed);
  font-size: 20px;
  height: 50px;
  width: 240px;
}

.checked {
  text-decoration: none solid black;
}

.finish-button {
  margin-left: 120px;
}

.checklist {
  display: flex;
  flex-direction: column;
  font-family: var(--roboto-condensed);
  font-size: 20px;
}

.checklist label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.uashusahusah {
  padding-bottom: 70px;
}
