.app {
  align-items: center;
  color: #313131;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}

.initial-page {
  align-items: center;
  background: var(--section-background);
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.login-page {
  background: var(--background-box-filters);
  border: none;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  width: 300px;
}

.login-submit-btn {
  background-color: rgb(43, 98, 174);
  border: none;
  border-image-slice: 1;
  border-image-source: var(--color-rainbow-bottom);
  border-top: 2px solid;
  bottom: 50px;
  color: white;
  font-family: var(--roboto-condensed);
  font-size: 20px;
  height: 50px;
  width: 240px;
}

.login-submit-btn:disabled {
  background-color: rgb(123, 147, 181);
}

.login-input {
  border: none;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--color-rainbow-bottom);
  border-radius: 7px;
  height: 50px;
  padding: 0 20px;
  width: 240px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.login-header {
  display: flex;
  flex-direction: row;
}

.login-header-content {
  display: flex;
  flex-direction: column;
}

.login-paragraph {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  width: 80px;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.logo-trybe img {
  bottom: 0;
  height: 40px;
  position: fixed;
  right: 0;
}
